@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #FFE4E1; /* misty-rose */
        background-image: radial-gradient(#443025 10%, transparent 10%); /* dark-chocolate */
        background-size: 20px 20px;
        color: #443025;
    }
}

@layer components {
    .glass-card {
        background-color: rgba(68, 48, 37, 0.05);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}
